### Tuples

#### Tuple are same as list except tuples are immutable

In [8]:
t=tuple([1,2,3,4,5])

In [9]:
print(t)

(1, 2, 3, 4, 5)

In [10]:
print(f"Type of t is {type(t)} and Id of t is {id(t)}")

Type of t is <class 'tuple'> and Id of t is 2661210595176

In [13]:
# tuple is immutable

t[1]=6

TypeError: 'tuple' object does not support item assignment

In [14]:
t=(1,2,3,4,5)
print(type(t))

<class 'tuple'>

In [16]:
a=(1,2,3,4,5)
b=(1,2,3,4,5)

In [17]:
## Since both tuple a and b have same values then also their ID's are different which shows that tuple are immutable.
print(f"Type of a = {type(a)} and ID of a = {id(a)}")
print(f"Type of a = {type(b)} and ID of a = {id(b)}")

Type of a = <class 'tuple'> and ID of a = 2661213638992
Type of a = <class 'tuple'> and ID of a = 2661222884896

In [18]:
## Indexing

In [19]:
t=(2,3,4,6,2,4,6)

In [20]:
t[0]

2

In [21]:
t[7]

IndexError: tuple index out of range

In [22]:
t[3]

6

In [23]:
## Slicing

In [25]:
t[:]

(2, 3, 4, 6, 2, 4, 6)

In [26]:
t[1:]

(3, 4, 6, 2, 4, 6)

In [27]:
t[:6]

(2, 3, 4, 6, 2, 4)

In [28]:
t[::-1]

(6, 4, 2, 6, 4, 3, 2)

In [29]:
t[:-1]

(2, 3, 4, 6, 2, 4)

In [30]:
## Directories of tuple

print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [31]:
t=(1,2,3,4,5,5,6,7,7,7,8,2)

In [37]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [38]:
print(t.count(7))

3

In [39]:
print(t.index(7))

7

In [40]:
len(t)

12

In [41]:
del t

In [43]:
t

NameError: name 't' is not defined

In [51]:
t1=(1,2,3)
t2=(4,5,6)

In [52]:
tt=t1+t2

In [54]:
print(tt)
print(f"type = {type(tt)} and id = {id(tt)}")

(1, 2, 3, 4, 5, 6)
type = <class 'tuple'> and id = 2661216690920

In [55]:
tt1=(*t1,*t2)

In [56]:
print(tt1)
print(f"type = {type(tt1)} and id = {id(tt1)}")

(1, 2, 3, 4, 5, 6)
type = <class 'tuple'> and id = 2661216691016

In [57]:
tt2=(t1,t2)

In [58]:
print(tt2)
print(f"type = {type(tt2)} and id = {id(tt2)}")

((1, 2, 3), (4, 5, 6))
type = <class 'tuple'> and id = 2661221911304

In [59]:
## to convert list into tuple

In [60]:
l=[1,2,3,4,"hi"]

In [61]:
t=tuple(l)

In [62]:
print(t)
print(f"type = {type(t)} and id = {id(t)}")

(1, 2, 3, 4, 'hi')
type = <class 'tuple'> and id = 2661207635664

In [63]:
## to convert tuple into list

In [64]:
t=(1,2,3,4,21,435,"dskj")

In [66]:
l=list(t)

In [67]:
print(l)
print(f"type = {type(l)} and id = {id(l)}")

[1, 2, 3, 4, 21, 435, 'dskj']
type = <class 'list'> and id = 2661212463688

In [68]:
## Since tuple is immutable so you can't modify tuple. To modify tuple first you have to convert it into list then apply modification.