## Dictionary

#### keys should be immutable --> Numbers,Strings,tuples,frozenset
#### values can be any valid python object
#### each is unique such there is no repeatition of keys allowed

In [2]:
## Syntax

## d={"key":"value",------}  mutable and unordered

In [3]:
d = {
    "Name": "Python",
    "Year":1994,
    "Version":3.7,
    "Type":"Programming Language",
    "Father":"Guido van Rossum",
    "Module":["panda","numpy","matplotlib","sklearn","scipy"]
}

In [4]:
print(d)

{'Name': 'Python', 'Year': 1994, 'Version': 3.7, 'Type': 'Programming Language', 'Father': 'Guido van Rossum', 'Module': ['panda', 'numpy', 'matplotlib', 'sklearn', 'scipy']}

In [5]:
print("type: ",type(d))
print("id: ",id(d))

type:  <class 'dict'>
id:  2206928261056

In [6]:
d["Name"]

'Python'

In [7]:
d["Version"]

3.7

In [8]:
d["Module"]

['panda', 'numpy', 'matplotlib', 'sklearn', 'scipy']

In [9]:
d["anything"]

KeyError: 'anything'

In [11]:
## Directories of dictionary

print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

### Functions of dictionary 

    1. dict.clear() --> it will delete all key-value pairs
    2. dict.copy() --> will return copy of original dict
    3. dict.fromkeys(keys,default_value) --> create a new dictionary with keys having default_value 
    4. *dict.get(key,default) --> will return object on key if key exists else return default
    5. *dict.items() --> will list of key-value pairs
    6. dict.keys() --> will return list of keys
    7. dict.pop(key) ---> will delete object map to key 
    8. dict.popitem() --> will delete arbitary object
    9. *dict.setdefault(key,value) --> will return object if key exists else update a new key in dictionary have value value
    10. *dict.update(collection of key-value pairs) --> will add and update key-value pairs in dictionary
    11. dict.values() --> will return list of values

In [14]:
d.__len__()

6

In [15]:
d.__sizeof__()

344

In [16]:
d.__class__() # {} means dictionary

{}

In [18]:
d["Module"].append("django")

In [19]:
d

{'Name': 'Python',
 'Year': 1994,
 'Version': 3.7,
 'Type': 'Programming Language',
 'Father': 'Guido van Rossum',
 'Module': ['panda', 'numpy', 'matplotlib', 'sklearn', 'scipy', 'django']}

In [20]:
## get()

d.get("Name")

'Python'

In [24]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [25]:
item=d.get("Anything","No such key exist")
print(item)

No such key exist

{'Name': 'Python',
 'Year': 1994,
 'Version': 3.7,
 'Type': 'Programming Language',
 'Father': 'Guido van Rossum',
 'Module': ['panda', 'numpy', 'matplotlib', 'sklearn', 'scipy', 'django']}

In [27]:
## key can only be immutable. It can't be mutable like list.

d1={[1,2]:"hello"}

TypeError: unhashable type: 'list'

In [28]:
d1={(1,2):"hello"}

In [29]:
d1

{(1, 2): 'hello'}

In [36]:
hash("python")

-8282936433865278098

In [37]:
hash(3.7)

1614090106449586179

In [38]:
hash("Module")

-2486602070236021076

In [39]:
hash("a")

-6370335115485195435

In [41]:
## Dictionary of dictionary

d_new={
    "python":{
        "name":"python",
        "version":3.7
    },
    "c":{
        "name":"c",
        "version":4.2
    },
    "java":{
        "name":"java",
        "version":12
    }
}

In [42]:
print(d_new)

{'python': {'name': 'python', 'version': 3.7}, 'c': {'name': 'c', 'version': 4.2}, 'java': {'name': 'java', 'version': 12}}

In [43]:
## data_list = []  List of list
## data_dict = {}

In [44]:
## data_list

data_list = [ 
    ["Ruby",1001,33000,"ruby@123"],
    ["Pinky",1002,50000,"pinky@123"],
    ["Rahul",1003,20000,"rahul@123"]
]

In [45]:
data_list

[['Ruby', 1001, 33000, 'ruby@123'],
 ['Pinky', 1002, 50000, 'pinky@123'],
 ['Rahul', 1003, 20000, 'rahul@123']]

In [46]:
type(data_list)

list

In [47]:
data_dict = {
    1001:["Ruby",33000,"ruby@123"],
    1002:["Pinky",50000,"pinky@123"],
    1003:["Rahul",20000,"rahul@123"]
}

In [48]:
data_dict

{1001: ['Ruby', 33000, 'ruby@123'],
 1002: ['Pinky', 50000, 'pinky@123'],
 1003: ['Rahul', 20000, 'rahul@123']}

In [49]:
type(data_dict)

dict

In [50]:
data_list[1][1]

1002

In [51]:
data_list[2][0]

'Rahul'

In [52]:
data_dict[1001]

['Ruby', 33000, 'ruby@123']

In [53]:
data_dict[1002][2]

'pinky@123'

In [55]:
data_dict[1002][-1]

'pinky@123'

In [56]:
data_dict

{1001: ['Ruby', 33000, 'ruby@123'],
 1002: ['Pinky', 50000, 'pinky@123'],
 1003: ['Rahul', 20000, 'rahul@123']}

In [58]:
acc=int(input("Enter Account no. "))
data_dict.get(acc,"No such account exist")

Enter Account no. 2444

'No such account exist'

In [59]:
data={"name":"pooja","age":29,"color":"fair"}

In [60]:
data

{'name': 'pooja', 'age': 29, 'color': 'fair'}

In [67]:
key=input("Enter key: ").strip().lower().replace(',','')
default="Not exists"
data.get(key,default)

Enter key:    n,a,m,e

'pooja'

In [68]:
data_dict

{1001: ['Ruby', 33000, 'ruby@123'],
 1002: ['Pinky', 50000, 'pinky@123'],
 1003: ['Rahul', 20000, 'rahul@123']}

In [70]:
# keys()

data_dict.keys()

dict_keys([1001, 1002, 1003])

In [71]:
# values()

data_dict.values()

dict_values([['Ruby', 33000, 'ruby@123'], ['Pinky', 50000, 'pinky@123'], ['Rahul', 20000, 'rahul@123']])

In [72]:
data

{'name': 'pooja', 'age': 29, 'color': 'fair'}

In [73]:
# setdefault()

data.setdefault("name","Aman")

'pooja'

In [74]:
data

{'name': 'pooja', 'age': 29, 'color': 'fair'}

In [75]:
# items()

data_dict.items()

dict_items([(1001, ['Ruby', 33000, 'ruby@123']), (1002, ['Pinky', 50000, 'pinky@123']), (1003, ['Rahul', 20000, 'rahul@123'])])

In [77]:
# pop()

data.pop('color')

'fair'

In [78]:
data

{'name': 'pooja', 'age': 29}

In [79]:
data.pop(29) # only key can pass as argument

KeyError: 29

In [80]:
datas=data.copy()

In [81]:
datas

{'name': 'pooja', 'age': 29}

In [83]:
print(f"ID of data = {id(data)} and class = {type(data)}")
print(f"ID of datas = {id(datas)} and class = {type(datas)}")

ID of data = 2206930732016 and class = <class 'dict'>
ID of datas = 2206934004144 and class = <class 'dict'>

In [84]:
# popitem()

datas.popitem() # it delete item from reverse

('age', 29)

In [85]:
datas

{'name': 'pooja'}

In [86]:
data

{'name': 'pooja', 'age': 29}

In [90]:
# update()

help(dict.update)

Help on method_descriptor:

update(...)
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [96]:
data.update(name="Raghav")  ## if present then it modify

In [97]:
data

{'name': 'Raghav', 'age': 29}

In [98]:
data.update(color="fair",education="B.tech")  ## if not present then it adds

In [99]:
data

{'name': 'Raghav', 'age': 29, 'color': 'fair', 'education': 'B.tech'}

In [100]:
del data

In [101]:
data

NameError: name 'data' is not defined

In [102]:
data=dict(name="Raghav",age=27,color="fair",country='India',education="Btech")

In [104]:
data

{'name': 'Raghav',
 'age': 27,
 'color': 'fair',
 'country': 'India',
 'education': 'Btech'}

In [105]:
d = { 'H': {'atomic_number':1,
            'mass': 1,
            'protons':1,
            'electrons':1,
           },

    }

In [106]:
d # values can be same but keys can't be same

{'H': {'atomic_number': 1, 'mass': 1, 'protons': 1, 'electrons': 1}}

In [107]:
## fromkeys()

help(dict.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [110]:
d1=d.fromkeys(d.keys(),None)

In [111]:
d1

{'H': None}

In [114]:
data

{'name': 'Raghav',
 'age': 27,
 'color': 'fair',
 'country': 'India',
 'education': 'Btech'}

In [115]:
data_dict

{1001: ['Ruby', 33000, 'ruby@123'],
 1002: ['Pinky', 50000, 'pinky@123'],
 1003: ['Rahul', 20000, 'rahul@123']}

In [125]:
info={**data,**data_dict}

In [126]:
info

{'name': 'Raghav',
 'age': 27,
 'color': 'fair',
 'country': 'India',
 'education': 'Btech',
 1001: ['Ruby', 33000, 'ruby@123'],
 1002: ['Pinky', 50000, 'pinky@123'],
 1003: ['Rahul', 20000, 'rahul@123']}

In [127]:
del info

In [130]:
info={
    "name":input("Enter a name: "),
    "age":int(input("Enter age: ")),
    "country":input("Enter country: ")
}

Enter a name: jeet
Enter age: 29
Enter country: india

In [131]:
info

{'name': 'jeet', 'age': 29, 'country': 'india'}

In [5]:
del info

In [18]:
info={}
for var in range(5):
    key_value=[(input("Keys: "), eval((input("Values: "))))]
    info.update(key_value)

Keys: name
Values: "sinchan"
Keys: age
Values: 5
Keys: motive
Values: "cartoon"
Keys: number
Values: 23788329
Keys: channel
Values: "nick"

In [19]:
info

{'name': 'sinchan',
 'age ': 5,
 'motive': 'cartoon',
 'number': 23788329,
 'channel': 'nick'}

In [20]:
d  = {}
while input("Press any key to continue : ") : 
    key_value = [ (input("key : "),eval(input("value : ")))]
    d.update(key_value)

Press any key to continue : y
key : name
value : "sheetal"
Press any key to continue : y
key : aim
value : "engineer"
Press any key to continue :

In [21]:
d

{'name': 'sheetal', 'aim': 'engineer'}